body {
	margin: 0;
	font-family: arial;
}

header {
	background: #999;
	color: white;
	padding: 15px 15px 0 15px;
}


header h1 {
	margin: 0;
}

nav ul {
	margin: 0;
}

nav ul li {
	background: black;
	color: white;
	padding: 5px 10px; <!-- top, right, bott, left -->
	display: inline-block; <!-- page links are horizontally laid out -->
	list-style-type: none; <!-- get rid of bulletpoints -->
}

nav ul li a {
	color: white;
}

p {
	background: #666;
	color: white;
	padding: 10px; /* spacing */
}

.secondary {  /* . means you are looking for a class */
	background: none;
	color: #555;
}

#special {
	background: blue;
	color: #555;
}
