header {
	background: #999;
	color: white;
}

body {
	margin: 0;
	background:#999;
	font-family: arial;
}

nav ul {
	margin: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none; <!-- get rid of bulletpoints -->
}

h1, h2 {
	margin: 0;
	color: #555;
}

a {
	color: blue;
}

p {
	background: #666;
	color: white;
	padding: 10px; <!-- spacing -->
}

.secondary {  <!-- . means you are looking for a class -->
	background: none;
	color: #555;
}

#special {
	background: blue;
	color: #555;
}